* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: "elephantregular";
    src: url("elephant_font_kit/elephnt-webfont.woff2") format("woff2"),
         url("elephant_font_kit/elephnt-webfont.woff") format("woff");
    font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.topnav {
  background-color: #fff;
  margin-top: 15px;
  margin-left: 160px;
  }

.topnav a {
  color: #000000;
  display: block;
  text-align: center;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 30px;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 14px;
  }
.main-text{
	font-family: "elephantregular";
	font-weight:normal;
	font-style:normal;
}
.menu-icon {
margin-right: 1500px;
  }
.mataslogo{
margin: auto;
width:50%;
}
.header_middle{
	margin: auto;
  margin-left: 10px;
  width: 100px;
display: flex;
}
.mataslogo{
padding-left: 100px;
}

.beauty-logo{
margin: auto;
width: 50%;
height: auto;
}
.make-lady{
	width: 100%;
	height: auto;
}
.beauty-kategorier{
	font-family: "elephantregular";
	font-weight:normal;
	font-style:normal;
	display: block;
	width: 49%;
	height: auto;
	float: left;
}

.grid-container {
  text-decoration-color: #111; 
  display: grid;
	grid-template-columns: auto auto;
}
.grid-container a{
    text-decoration: none;
    text-decoration-color: #111:
}
.quiz{
	font-family: "elephantregular";
	font-weight:normal;
	font-style:normal;
	display: block;
	width: 49%;
	height: auto;
	float: right;
}
.lolipop-lady{
	width: 100%;
	height: auto;
}
.main-matas-beauty{
	max-width: 960px;
	min-height: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.menu1 {
  margin-left: 10px;


}

.search {
  margin-left: 10px;
  padding-top: 15px;
  }
 footer{
  height: 100px;
  text-align: center;
  font-size: 13px;
  background-color: #000;
  color: white;
  margin-top: 0px;
  }
.push{
	height: 20px;
	display: block;
}


.matasbaggrundsbillede
{
  width: 200%;
  height: 200%;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  }

  .fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
