* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.header {
  overflow: hidden;
  background-color: #00244f;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
}

.header a:hover {
  background-color: #8C1419;
  color: white;
}

.header a.active {
  background-color: #8C1419;
  color: white;
}

.header-right {
  float: right;
}

.main-text{
  text-align: center;
  text-decoration:none;
  font-size: 30px;
}

.main-h1{
  text-align: center;
  text-decoration:none;
  padding:0.7em;
  padding-top: 0.6em;
  font-size:2.5em;
}

.homephoto{
  align-items: center;
  padding-left: 140px;
}

.footer{
  align-content: center;
}

.logologo img {
width: 70px;
height: 70px;
margin-left: 100px;

  }



  .fa {
    padding: 12px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }


  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    }

    .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 50%;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
  }
