.flex-container {
    display: flex;
    
}

.body{
    overflow-x: hidden;
    overflow-y: hidden; 
}

.gender1-img{
    width: 51.3%;
    height: -20%;
    margin-left: -2%; 
    margin-top: -2%; 
}

.gender1-img:hover{
    opacity: 0.9;
}

.gender2-img{
    width: 51.3%;
    height: -20%;
    margin-right: -10%; 
    margin-top: -2%; 
}

.gender2-img:hover{
    opacity: 0.9;
}


.age1-img{
     width: 16.9%;  
    margin-left: -1%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.age2-img{
      width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.age3-img{
      width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.age4-img{
     width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.age5-img{
    width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.age6-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-right: -15%;
    margin-top: -1%;
    margin-bottom: -2%; 
}

.work1-img{
    width: 16.9%;  
    margin-left: -1%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.work2-img{
    width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.work3-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}

.work4-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}


.work5-img{
     width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}

.work6-img{
     width: 16.9%;
    margin-left: 0%; 
    margin-right: -15%;
    margin-top: -1%;
    margin-bottom: -2%; 
}

.color1-img{
    width: 16.9%;  
    margin-left: -1%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.color2-img{
    width: 16.9%; 
    margin-left: 0%; 
    margin-top: -2%;
    margin-bottom: -2%; 
}

.color3-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}

.color4-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}

.color5-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-top: -1%;
    margin-bottom: -2%; 
}

.color6-img{
    width: 16.9%;
    margin-left: 0%; 
    margin-right: -15%;
    margin-top: -1%;
    margin-bottom: -2%; 
}

.text {
  color: black;
  font-size: 55px;
    margin-left: -56%

}

.text2 {
  color: black;
  font-size: 55px;
    margin-left: -56%

}

.text3 {
  color: black;
  font-size: 55px;
    margin-left: -56%

}



.text4 {
  color: black;
  font-size: 55px;
    margin-left: -56%

}


.look1-img{
    width: 25%
}

.look2-img{
    width: 25%
}

.look3-img{
    width: 25%
}

.look4-img{
    width: 25%
}

.look5-img{
    width: 25%
}

.look6-img{
    width: 25%
}









